<div class="row">
  <h2>Hard & Soft skill:</h2>
  <div class="col-sm-2 col-md-2 col-lg-2">
  <circle-progress
  [title]="'java 85'"
    [percent]="85"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
<circle-progress
[title]="'Js 60'"
[percent]="60"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
<circle-progress
[title]="'GitHub 85'"
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
<circle-progress
[title]="'Html 90'"
  [percent]="90"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
<circle-progress
[title]="'Css 70'"
  [percent]="70"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
<circle-progress
[title]="'Mysql 70'"
  [percent]="70"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
 </div>
</div>
