<div class="row">
  <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
    <img src="../../../assets/nahu.jpg" alt="" class="img-fluid" id="miFoto">
  </div>
  <div class="col-lx-12 col-sm-2 col md-2 col-lg-2">
    <h1>Datos personales:</h1>
 <div class="col-lx-12 col-sm-2 col md-2 col-lg-2">
  <span>
  <p>Nnahuel Argandoña</p>
  <p>Nnahuel Argandoña</p>
  <p>Nnahuel Argandoña</p>
</span>
 </div>
  </div>
  <div class="col-lx-12 col-sm-8 col md-8 col-lg-8">
  <app-ilustration></app-ilustration>
  </div>
</div>



